@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
}

Main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  background: darkgrey;
  /* display: flex; */
  /* justify-content: space-around;
  align-items: center; */
  margin-top: 0
}

.link {
  text-decoration: none;
  color: black
}

.link h1 {
  font-family: 'Goldman', cursive;
}

.goal-form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.home {
  background-image: url('https://i.imgur.com/jE6EwDy.jpg');
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.home h1 {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  background: darkgrey;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
}

#contact {
  margin-right: 50px;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

.workout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-item {
  border: 3px solid darkgrey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.password {
  width: 97%;
  height: 28px;
  border: 1px solid rgba(128, 128, 128, 0.397);
  border-radius: 3px;
}

.signup-button {
  text-align: center;
  width: 80px;
}