.App {
  text-align: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  background: darkgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}